<mat-toolbar color="primary" class="navbar">
    <div (click)="profile()">Profile</div>
    <mat-divider [vertical]="true"></mat-divider>
    <div (click)="team()">Team</div>
    <mat-divider [vertical]="true"></mat-divider>
    <div (click)="userSearch()">User Search</div>
    <mat-divider [vertical]="true"></mat-divider>
    <div (click)="teamSearch()">Team Search</div>
    <mat-divider [vertical]="true"></mat-divider>
    <div (click)="tournament()">Tournament</div>
    <mat-divider [vertical]="true"></mat-divider>
    <div (click)="tournamentSearch()">Tournament Search</div>
    <mat-divider [vertical]="true"></mat-divider>
    <div (click)="logout()">Logout</div>
</mat-toolbar>
<router-outlet></router-outlet>


