<div>
    <mat-card class="center">
        <mat-card-content>
            <div>
                <div>
                    <div *ngIf="!user.team">
                        <div *ngIf="!createMode">
                            <div>
                                <label *ngIf="!user.team">You are currently not in any team. Create or join a team</label>
                            </div>
                            <div>
                                <button mat-flat-button color="primary" type="button" (click)="createTeam()">Create</button>
                                <button mat-flat-button color="primary" type="button">Join</button>
                            </div>
                        </div>
                        <div *ngIf="createMode">
                            <form #createTeamForm="ngForm" (ngSubmit)="onSubmitCreateTeam(createTeamForm)">
                                <div>
                                    <mat-form-field>
                                        <mat-label>Team Name</mat-label>
                                        <input matInput name="name" #name="ngModel" [(ngModel)]="team.name" value={{team.name}} placeholder="Enter team name" required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label>Team Tag</mat-label>
                                        <input matInput name="tag" #name="ngModel" [(ngModel)]="team.tag" placeholder="Enter team tag" required>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label>Description</mat-label>
                                        <input matInput name="description" #name="ngModel" [(ngModel)]="team.description" placeholder="Description">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label>Team Logo</mat-label>
                                        <input matInput name="logo" #name="ngModel" [(ngModel)]="team.logo" placeholder="Select team logo">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label>Twitch URL</mat-label>
                                        <input matInput name="twitchUrl" #name="ngModel" [(ngModel)]="team.twitchUrl" placeholder="Enter URL">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label>Twitter URL</mat-label>
                                        <input matInput name="twitterUrl" #name="ngModel" [(ngModel)]="team.twitterUrl" placeholder="Enter URL">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label>Youtube URL</mat-label>
                                        <input matInput name="youtubeUrl" #name="ngModel" [(ngModel)]="team.youtubeUrl" placeholder="Enter URL">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label>Discord URL</mat-label>
                                        <input matInput name="discordUrl" #name="ngModel" [(ngModel)]="team.discordUrl" placeholder="Enter URL">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <button mat-flat-button color="warn" type="button" (click)="back()">Back</button>
                                    <button mat-flat-button color="primary" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div *ngIf="user.team">
                        <mat-tab-group>
                            <mat-tab label="Overview">
                                <div *ngIf="!editMode && defaultMode">
                                    <div fxFlex="25%">
                                        <div>
                                            <img src={{this.team.logo}} width="200" height="200">
                                        </div>
                                        <div>
                                            <h2>{{team.tag}} - {{team.name}}</h2>
                                        </div>
                                        <div>
                                            <h4>{{team.description === '' || team.description === undefined ? 'No Description Provided' : team.description}}</h4>
                                        </div>
                                    </div>
                                    <div fxFlex="75%">
                                        <mat-card>
                                            <mat-card-header>
                                                <mat-card-title>
                                                    <p>Members ({{members.data.length}}/15)
                                                    <button mat-flat-button *ngIf="userCanEdit" color="primary" type="button" (click)="inviteMember()">Invite</button></p>
                                                </mat-card-title>
                                            </mat-card-header>
                                            <mat-card-content>

                                                <table mat-table [dataSource]="members">
                                                    <ng-container matColumnDef="username">
                                                        <th mat-header-cell *matHeaderCellDef>  Username  </th>
                                                        <td mat-cell *matCellDef="let member" (click)="testClick()">{{member.username}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="role">
                                                        <th mat-header-cell *matHeaderCellDef>  Role  </th>
                                                        <td mat-cell *matCellDef="let member">{{member.role.name}}</td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="summonerName">
                                                        <th mat-header-cell *matHeaderCellDef> Summoner Name </th>
                                                        <td mat-cell *matCellDef="let member">{{member.summonerName}}</td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="status">
                                                        <th mat-header-cell *matHeaderCellDef>Status</th>
                                                        <td mat-cell *matCellDef="let member">
                                                            {{getRoleName(member)}}
                                                        </td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="action">
                                                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                                                        <td mat-cell *matCellDef="let member">
                                                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                                                <mat-icon>more_vert</mat-icon>
                                                            </button>
                                                            <mat-menu #menu="matMenu">
                                                                <button mat-menu-item>
                                                                    <mat-icon>account_circle</mat-icon>
                                                                    <span>View Profile</span>
                                                                </button>
                                                                <button 
                                                                *ngIf="getRoleName(user) === 'Owner'"
                                                                mat-menu-item (click)="openDialog(member, team, 'status')">
                                                                    <mat-icon>stars</mat-icon>
                                                                    <span>Change Role</span>
                                                                </button>
                                                                <button *ngIf="member._id === user._id" mat-menu-item (click)="openDialog(member, team, 'leave')">
                                                                    <mat-icon>exit_to_app</mat-icon>
                                                                    <span>Leave Team</span>
                                                                </button>
                                                                <button *ngIf="member._id !== user._id" mat-menu-item>
                                                                    <mat-icon>remove_circle</mat-icon>
                                                                    <span>Kick Member</span>
                                                                </button>
                                                                <button *ngIf="member._id === user._id && getRoleName(user) === 'Owner'" mat-menu-item>
                                                                    <mat-icon>cancel</mat-icon>
                                                                    <span>Disband Team</span>
                                                                </button>
                                                            </mat-menu>

                                                        </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsTeams"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsTeams;"></tr>
                                                </table>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                                <div *ngIf="editMode">
                                    <form #editTeamForm="ngForm" (ngSubmit)="onSubmitEditTeam(editTeamForm)">
                                        <div>
                                            <mat-form-field>
                                                <mat-label>Team Name</mat-label>
                                                <input matInput type="text" name="name" #name="ngModel" [(ngModel)]="teamEdit.name" value={{teamEdit.name}}>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field>
                                                <mat-label>Team Tag</mat-label>
                                                <input matInput type="text" name="tag" #name="ngModel" [(ngModel)]="teamEdit.tag" value={{teamEdit.tag}}>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field>
                                                <mat-label>Description</mat-label>
                                                <input matInput type="text" name="description" #name="ngModel" [(ngModel)]="teamEdit.description" value={{teamEdit.description}}>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field>
                                                <mat-label>Team Logo</mat-label>
                                                <input matInput type="text" name="logo" #name="ngModel" [(ngModel)]="teamEdit.logo" value={{teamEdit.logo}}>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field>
                                                <mat-label>Twitch URL</mat-label>
                                                <input matInput name="twitchUrl" #name="ngModel" [(ngModel)]="teamEdit.twitchUrl" value={{teamEdit.twitchUrl}}>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field>
                                                <mat-label>Twitter URL</mat-label>
                                                <input matInput name="twitterUrl" #name="ngModel" [(ngModel)]="teamEdit.twitterUrl" value={{teamEdit.twitterUrl}}>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field>
                                                <mat-label>Youtube URL</mat-label>
                                                <input matInput name="youtubeUrl" #name="ngModel" [(ngModel)]="teamEdit.youtubeUrl" value={{teamEdit.youtubeUrl}}>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field>
                                                <mat-label>Discord URL</mat-label>
                                                <input matInput name="discordUrl" #name="ngModel" [(ngModel)]="teamEdit.discordUrl" value={{teamEdit.discordUrl}}>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <label>Actively Recruiting</label>
                                            <mat-checkbox name="activelyRecruiting" #name="ngModel" [(ngModel)]="teamEdit.activelyRecruiting" value={{teamEdit.activelyRecruiting}}></mat-checkbox>
                                        </div>
                                        <div>
                                            <table class="logo-table">
                                                <tr>
                                                    <td>
                                                        <img src={{teamIcons[0]}} width="40" height="40" (click)='this.changeTeamLogo(teamIcons[0])'>
                                                    </td>
                                                    <td>
                                                        <img src={{teamIcons[1]}} width="40" height="40" (click)='this.changeTeamLogo(teamIcons[1])'>
                                                    </td>
                                                    <td>
                                                        <img src={{teamIcons[2]}} width="40" height="40" (click)='this.changeTeamLogo(teamIcons[2])'>
                                                    </td>
                                                    <td>
                                                        <img src={{teamIcons[3]}} width="40" height="40" (click)='this.changeTeamLogo(teamIcons[3])'>
                                                    </td>
                                                    <td>
                                                        <img src={{teamIcons[4]}} width="40" height="40" (click)='this.changeTeamLogo(teamIcons[4])'>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src={{teamIcons[5]}} width="40" height="40" (click)='this.changeTeamLogo(teamIcons[5])'>
                                                    </td>
                                                    <td>
                                                        <img src={{teamIcons[6]}} width="40" height="40" (click)='this.changeTeamLogo(teamIcons[6])'>
                                                    </td>
                                                    <td>
                                                        <img src={{teamIcons[7]}} width="40" height="40" (click)='this.changeTeamLogo(teamIcons[7])'>
                                                    </td>
                                                    <td>
                                                        <img src={{teamIcons[8]}} width="40" height="40" (click)='this.changeTeamLogo(teamIcons[8])'>
                                                    </td>
                                                    <td>
                                                        <img src={{teamIcons[9]}} width="40" height="40" (click)='this.changeTeamLogo(teamIcons[9])'>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <img src={{teamIcons[10]}} width="40" height="40" (click)='this.changeTeamLogo(teamIcons[10])'>
                                                    </td>
                                                    <td>
                                                        <img src={{teamIcons[11]}} width="40" height="40" (click)='this.changeTeamLogo(teamIcons[11])'>
                                                    </td>
                                                    <td>
                                                        <img src={{teamIcons[12]}} width="40" height="40" (click)='this.changeTeamLogo(teamIcons[12])'>
                                                    </td>
                                                    <td>
                                                        <img src={{teamIcons[13]}} width="40" height="40" (click)='this.changeTeamLogo(teamIcons[13])'>
                                                    </td>
                                                    <td>
                                                        <img src={{teamIcons[14]}} width="40" height="40" (click)='this.changeTeamLogo(teamIcons[14])'>
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                        <div>
                                            <button mat-flat-button color="primary" type="submit">Save</button>
                                        </div>
                                    </form>
                                </div>
    
                                <div *ngIf="inviteMemberMode">
                                    <div>

                                        <mat-card>
                                            <mat-card-header>
                                                <mat-card-title>Inviting</mat-card-title>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <table mat-table [dataSource]="users">
                                                    <ng-container matColumnDef="username">
                                                        <th mat-header-cell *matHeaderCellDef>Username</th>
                                                        <td mat-cell *matCellDef="let user">{{user.username}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="role">
                                                        <th mat-header-cell *matHeaderCellDef>Role</th>
                                                        <td mat-cell *matCellDef="let user">{{user.role.name}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="summonerName">
                                                        <th mat-header-cell *matHeaderCellDef>Summoner Name</th>
                                                        <td mat-cell *matCellDef="let user">{{user.summonerName}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="position">
                                                        <th mat-header-cell *matHeaderCellDef>Position</th>
                                                        <td mat-cell *matCellDef="let user">Position</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="rank">
                                                        <th mat-header-cell *matHeaderCellDef>Rank</th>
                                                        <td mat-cell *matCellDef="let user">rank</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="action">
                                                        <th mat-header-cell *matHeaderCellDef></th>
                                                        <td mat-cell *matCellDef="let user">
                                                            <button mat-icon-button (click)="openDialog(user, team, 'invite')">
                                                                <mat-icon>add_circle_outline</mat-icon>
                                                            </button>
                                                        </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsInvite"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsInvite;"></tr>
                                                </table>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
    
                                <div *ngIf="addMemberMode">
                                    <div>
                                        <mat-card>
                                            <mat-card-header>
                                                <mat-card-title>Recruiting</mat-card-title>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <table mat-table [dataSource]="users">
                                                    <ng-container matColumnDef="username">
                                                        <th mat-header-cell *matHeaderCellDef>Username</th>
                                                        <td mat-cell *matCellDef="let user">{{user.username}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="role">
                                                        <th mat-header-cell *matHeaderCellDef>Role</th>
                                                        <td mat-cell *matCellDef="let user">{{user.role.name}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="summonerName">
                                                        <th mat-header-cell *matHeaderCellDef>Summoner Name</th>
                                                        <td mat-cell *matCellDef="let user">{{user.summonerName}}</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="position">
                                                        <th mat-header-cell *matHeaderCellDef>Position</th>
                                                        <td mat-cell *matCellDef="let user">Position</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="rank">
                                                        <th mat-header-cell *matHeaderCellDef>Rank</th>
                                                        <td mat-cell *matCellDef="let user">rank</td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="invite">
                                                        <th mat-header-cell *matHeaderCellDef></th>
                                                        <td mat-cell *matCellDef="let user"></td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="action">
                                                        <th mat-header-cell *matHeaderCellDef></th>
                                                        <td mat-cell *matCellDef="let user">
                                                            <button mat-icon-button (click)="openDialog(user, team, 'add')">
                                                                <mat-icon>add_circle_outline</mat-icon>
                                                            </button>
                                                        </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsInvite"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsInvite;"></tr>
                                                </table>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                    <div>
                                        <button mat-flat-button color="warn" (click)="back()">Back</button>
                                        <button mat-flat-button color="primary" (click)="confirmAddMember()">Confirm</button>
                                    </div>
                                </div>
                                <button mat-flat-button *ngIf="editMode" color="warn" type="button" (click)="back()">Back</button>
                                <button mat-flat-button *ngIf="!editMode && userCanEdit" color="primary" type="button" (click)="editTeam()">Edit</button>
                            </mat-tab>
                            <mat-tab label="History">
                                <div>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title>Previous Members</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <div *ngIf="previousMembers.data.length === 0">
                                                No data
                                            </div>
                                            <div *ngIf="tournaments.data.length !== 0">
                                                <table mat-table [dataSource]="previousMembers">
                                                    <ng-container matColumnDef="username">
                                                        <th mat-header-cell *matHeaderCellDef>Username</th>
                                                        <td mat-cell *matCellDef="let member"></td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="summonerName">
                                                        <th mat-header-cell *matHeaderCellDef>Summoner Name</th>
                                                        <td mat-cell *matCellDef="let member"></td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="role">
                                                        <th mat-header-cell *matHeaderCellDef>Role</th>
                                                        <td mat-cell *matCellDef="let member"></td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="winLossRatio">
                                                        <th mat-header-cell *matHeaderCellDef>Win/Loss</th>
                                                        <td mat-cell *matCellDef="let member"></td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="joinDate">
                                                        <th mat-header-cell *matHeaderCellDef>Join Date</th>
                                                        <td mat-cell *matCellDef="let member"></td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="leftDate">
                                                        <th mat-header-cell *matHeaderCellDef>Left Date</th>
                                                        <td mat-cell *matCellDef="let member"></td>
                                                    </ng-container>
                                                </table>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                <div>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title>Tournament History</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <div *ngIf="tournaments.data.length === 0">
                                                No data
                                            </div>
                                            <div *ngIf="tournaments.data.length !== 0">
                                                <table mat-table [dataSource]="tournaments">
                                                    <ng-container matColumnDef="name">
                                                        <th mat-header-cell *matHeaderCellDef>Name</th>
                                                        <td mat-cell *matCellDef="let tournament" (click)="testClick()"></td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="place">
                                                        <th mat-header-cell *matHeaderCellDef>Place</th>
                                                        <td mat-cell *matCellDef="let tournament"></td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="date">
                                                        <th mat-header-cell *matHeaderCellDef>Date</th>
                                                        <td mat-cell *matCellDef="let tournament"></td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsTourn"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsTourn;"></tr>
                                                </table>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                <div>
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title>Match History</mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <div *ngIf="matches.data.length === 0">
                                                No data
                                            </div>
                                            <div *ngIf="matches.data.length !== 0">
                                                <table mat-table [dataSource]="matches">
                                                    <ng-container matColumnDef="name">
                                                        <th mat-header-cell *matHeaderCellDef>  Name  </th>
                                                        <td mat-cell *matCellDef="let match" (click)="testClick()"></td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="score">
                                                        <th mat-header-cell *matHeaderCellDef>  Score  </th>
                                                        <td mat-cell *matCellDef="let match"></td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="tournament">
                                                        <th mat-header-cell *matHeaderCellDef> Date </th>
                                                        <td mat-cell *matCellDef="let match"></td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="date">
                                                        <th mat-header-cell *matHeaderCellDef> Date </th>
                                                        <td mat-cell *matCellDef="let match"></td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsMatch"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsMatch;"></tr>
                                                </table>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </mat-tab>
                            <mat-tab label="Notifications">
                                <div>
                                    <mat-drawer-container class="drawer" autosize>
                                        <mat-drawer mode="side" opened>
                                            <mat-tab-group>
                                                <mat-tab label="Outgoing Invites">
                                                    <mat-selection-list #incomingInvites [multiple]="false">
                                                        <mat-list-option *ngFor="let invite of team.outgoingInvites" [value]="invite">
                                                            <h3 matLine>{{invite.subject}}</h3>
                                                            <p matLine>{{invite.message}}</p>
                                                        </mat-list-option>
                                                    </mat-selection-list>
                                                </mat-tab>
                                                <mat-tab label="Incoming Invites">
                                                    <mat-selection-list #outgoingInvites [multiple]="false">
                                                        <mat-list-option *ngFor="let invite of team.incomingInvites" [value]="invite">
                                                            <h3 matLine>{{invite.subject}}</h3>
                                                            <p matLine>{{invite.message}}</p>
                                                        </mat-list-option>
                                                    </mat-selection-list>
                                                </mat-tab>
                                                <mat-tab label="Applications">
                                                    <mat-selection-list #incomingApplications>
                                                        <mat-list-option *ngFor="let application of team.incomingApplications" [value]="application">
                                                            <h3 matLine>{{application.subject}}</h3>
                                                            <p matLine>{{application.message}}</p>
                                                        </mat-list-option>
                                                    </mat-selection-list>
                                                </mat-tab>
                                            </mat-tab-group>
                                        </mat-drawer>
                                        <mat-drawer-content class="drawer-content">
                                            <div class="row default-text">
                                                aaaaaa
                                            </div>
                                        </mat-drawer-content>
                                    </mat-drawer-container>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                    <button mat-flat-button color="accent" type="button" (click)="home()">Home</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>