<h2 mat-dialog-title *ngIf="data.type === 'invite'">Invite</h2>
<h2 mat-dialog-title *ngIf="data.type === 'status'">Status</h2>
<h2 mat-dialog-title *ngIf="data.type === 'add'">Add</h2>
<h2 mat-dialog-title *ngIf="data.type === 'kick'">Kick </h2>
<mat-dialog-content>
    <div *ngIf="data.type === 'invite'">
        <div class="row">
                <div class="row">
                    <mat-form-field>
                        <mat-label>Subject</mat-label>
                        <input matInput name="subject" #name="ngModel" [(ngModel)]="invite.subject" value={{invite.subject}} placeholder="Enter subject here">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Message</mat-label>
                        <textarea matInput name="message" #name="ngModel" [(ngModel)]="invite.message" value={{invite.message}} placeholder="Enter message here"></textarea>
                    </mat-form-field>
                </div>
        </div>
    </div>
    <div *ngIf="data.type === 'status'">
        <div class="row">
            <label>Change status for {{this.data.member.username}}</label>

            <mat-select [(value)]="status">
                <mat-option *ngFor="let status of statuses" [value]="status">
                    {{status}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div *ngIf="data.type === 'add'">
        <div class="row">
            <label>Add user {{this.data.member.username}}?</label>
        </div>
    </div>
    <div *ngIf="data.type === 'kick'">
        <div class="row">
            <label>Kick user {{this.data.member.username}}?</label>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="confirmAction(data.type)">Confirm</button>
</mat-dialog-actions>
