.required {
    color: red;
}

.drawer {
    min-height: 800px;
}

.drawer-side {
    min-width: 150px;
}

.drawer-content {
    margin: 10px;
    display: flex;
}

.default-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-item{
    border-top: 1px;
    border-bottom: 1px;
    border-color: black;
}

.center{
    width: 80%;
    margin: 2em auto;
}

table{
    width: 100%;
}

.label-spacing{
    margin-top: 5px;
    margin-bottom: 5px;
}

.mat-divider{
    width: 100%;
    border-top-color: red;
}